h1 a {
    color: #009fff;
    font-family: 'Rubik', sans-serif;
}
body {
    padding-left: 15px;
}

.page-header {
    background-color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Rubik', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.btn-delete {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    color: #f00;
    border-color: #ccc;
}

.payment-form textarea, .payment-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #009fff;
    float: right;
    /* font-size: 26pt; */
    /* margin-right: 20px; */
}

.payment {
    margin-bottom: 70px;
}

.payment h1 a, .payment h1 a:visited {
    color: #000000;
}


.navbar {
    background-color: #009fff;
}

.navbar-default .navbar-brand {
    color: #009fff;
}

h1{
    font-family: 'Rubik', sans-serif;
    color: #009fff;
}
