{% extends '../baseTemplate/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'payment_edit' pk=payment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}
    <div class="payment">
        <h1>{{ payment.pk }}</h1>
        <h1>{{ payment.title }}</h1>
        <h3>Value</h3>
        <p>R$ {{ payment.value|floatformat:2|linebreaksbr }}</p>
        <h3>External Tax</h3>
        <p>R$ {{ payment.externalTax|floatformat:2|linebreaksbr }}</p>
        <h3>Observations</h3>
        <p>{{ payment.observation|linebreaksbr }}</p>
    </div>
    {% if payment.published_date %}
        <div class="date">
            {{ payment.published_date }}
        </div>
    {% endif %}
{% endblock %}