{% extends '../baseTemplate/base.html' %}

{% block content%}

    <h1><a href="/"> payments</a></h1>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for payment in payments %}

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1><a href="{% url 'payment_detail' pk=payment.pk %}">{{ payment.pk }} - {{ payment.title }}</a></h1>
                            </div>
                            <div class="panel-body">
                                <h4>Value</h4>
                                <p>R$ {{ payment.value|floatformat:2|linebreaksbr }}</p>
                                <h4>External Tax</h4>
                                <p>R$ {{ payment.externalTax|floatformat:2|linebreaksbr }}</p>
                                <a class="btn btn-default" href="{% url 'payment_edit' pk=payment.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-delete" href="{% url 'payment_delete' pk=payment.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                                <p>published: {{ payment.published_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

{% endblock%}